.title {
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 8px;
  margin: 32px 0 12px;
  text-transform: uppercase;
}

.border {
  background: darkslategray;
  border-radius: 5px;
  height: 5px;
  margin-bottom: 32px;
  width: 50px;
}