.projects {
    background-color: white;
    border: 1px solid gray;
    padding: 32px;

    .note-container {
        display: flex;
        flex-wrap: wrap;

        .note-add {
            flex-basis: 100%;

            input {
                display: block;
                margin: 12px 0;

                &.note-name {
                    font-size: .875rem;
                    padding: 12px;
                    width: 80%;
                }

                &.note-image-upload {
                    margin-top: 6px;
                }
            }

            textarea {
                font: inherit;
                font-size: .875rem;
                padding: 12px;
                resize: none;
                width: 80%;
            }
        }

        .note-all {
            flex-basis: 100%;

            table {
                width: 100%;

                th, td {
                    border: 1px solid gray;
                    padding: 8px;

                    &.note-cell {
                        text-align: center;

                        img {
                            max-height: 50px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 900px) {
        .note-container {
            .note-add {
                flex-basis: 30%;
            }

            .note-all {
                flex-basis: 70%;
            }
        }
    }
}