.primary-button {
    border: 1px solid #DE264C;
    border-radius: 3px;
    background-color: #DE264C;
    color: white;
    font-size: 1rem;
    padding: 10px 18px;

    &:hover {
        border: 1px solid #AF1B39;
        background-color: #AF1B39;
    }
}

.secondary-button {
    border: 1px solid #DE264C;
    border-radius: 3px;
    background-color: transparent;
    color: #DE264C;
    font-size: 1rem;
    padding: 10px 18px;

    &:hover {
        background-color: #DE264C;
        color: white;
    }
}