html {
    background-color: #F5F5F5;
}

.app {
    font-family: Helvetica Neue, Arial, sans-serif;
    line-height: 24px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;

    .header {
        background-color: white;
        border: 1px solid gray;
        color: #DE264C;
        padding: 24px 32px;
    }

    .column-container {
        background-color: white;
        display: flex;
        flex-wrap: wrap;

        .column {
            padding: 0 32px 32px;
            flex-basis: 100%;

            &.left-column {
                border: 1px solid gray;
            }

            &.right-column {
                border: 1px solid gray;

                #old-experience {
                    display: none;
                }

                .experience-toggle {
                    border: 1px solid #DE264C;
                    border-radius: 3px;
                    background-color: transparent;
                    color: #DE264C;
                    padding: 5px 10px;

                    &:hover {
                        background-color: #DE264C;
                        color: white;
                    }
                }
            }
        }

        .footnote {
            font-size: .75rem;
            padding-top: 1.5rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .app {
        padding: 12px 0;

        .header {
            padding: 24px 32px;
        }

        .column-container {
            flex-wrap: nowrap;

            .column {
                &.left-column {
                    flex-basis: 30%;
                }

                &.right-column {
                    flex-basis: 70%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .app {
        padding: 0;
    }
}