html {
    background-color: #F5F5F5;
}

.app {
    font-family: Helvetica Neue, Arial, sans-serif;
    line-height: 24px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0;

    p {
        margin: 0;
    }

    .header {
        align-items: center;
        background-color: white;
        border: 1px solid gray;
        color: #DE264C;
        display: flex;
        flex-wrap: wrap;
        padding: 24px 32px;

        .introduction {
            flex-basis: 100%;
        }

        .navigation {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    font-weight: bold;
                    letter-spacing: 4px;
                    margin-right: 32px;

                    a {
                        color: #DE264C;
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .app {
        padding: 12px 0;

        .header {
            flex-wrap: nowrap;
            padding: 24px 32px;

            .introduction {
                flex-basis: 30%;
            }

            .navigation {
                flex-basis: 70%;
                
                ul li {
                    margin: 0 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .app {
        padding: 0;
    }
}