.resume {
    .column-container {
        background-color: white;
        display: flex;
        flex-wrap: wrap;

        .column {
            padding: 0 32px 32px;
            flex-basis: 100%;

            &.left-column {
                border: 1px solid gray;

                ul {
                    margin: 0;
                }
            }

            &.right-column {
                border: 1px solid gray;

                .experience-title {
                    font-size: 1.15rem;
                }

                #old-experience {
                    display: none;
                }
            }
        }

        .footnote {
            font-size: .75rem;
            padding-top: 1.5rem;
        }
    }

    @media screen and (min-width: 600px) {
        .column-container {
            flex-wrap: nowrap;

            .column {
                &.left-column {
                    flex-basis: 30%;
                }

                &.right-column {
                    flex-basis: 70%;
                }
            }
        }
    }
}