.chatbot {
    .chatbot-description {
        padding-top: 24px;
    }

    .chatbot-frame {
        border: 1px solid gray;
        border-radius: 3px;
        max-width: 400px;
        
        #chatbot-history {
            height: 250px;
            overflow: auto;
            padding: 12px;

            .chatbot-history-message-container {
                display: block;

                &.chatbot-history-message-container-bot {
                    text-align: left;
                }

                &.chatbot-history-message-container-user {
                    text-align: right;
                }

                .chatbot-history-message {
                    border-radius: 18px;
                    display: inline-block;
                    font-size: .875rem;
                    line-height: 20px;
                    margin-bottom: 12px;
                    max-width: 75%;
                    padding: 8px 16px;
    
                    &.chatbot-history-message-bot {
                        background-color: #F0F0F0;
                        border: 1px solid lightgray;
                    }
        
                    &.chatbot-history-message-user {
                        background-color: #9C9C9C;
                        border: 1px solid lightgray;
                        color: white;
                    }
                }
            }
        }

        .chatbot-control {
            display: flex;
            flex-wrap: wrap;
            padding: 6px;

            .chatbot-control-message {
                flex-grow: 1;
                padding: 6px;

                #chatbot-control-message-input {
                    height: 89%;
                    padding: 0 10px;
                    width: 88%;
                }
            }

            .chatbot-control-send {
                padding: 6px;

                #chatbot-control-send-button {
                    &.disabled {
                        background-color: gray;
                        border: 1px solid gray;
                    }
                }
            }

            .chatbot-control-reset {
                padding: 6px;
            }
        }
    }
}