.notes {
    .notes-description {
        padding-top: 24px;
    }

    .notes-container {
        display: flex;
        flex-wrap: wrap;

        .notes-add {
            flex-basis: 100%;

            input {
                display: block;
                margin: 12px 0;

                &.notes-name {
                    font-size: .875rem;
                    padding: 12px;
                    width: 80%;
                }

                &.notes-image-upload {
                    margin-top: 6px;
                }
            }

            textarea {
                font: inherit;
                font-size: .875rem;
                padding: 12px;
                resize: none;
                width: 80%;
            }
        }

        .notes-all {
            flex-basis: 100%;

            table {
                width: 100%;

                th, td {
                    border: 1px solid gray;
                    padding: 8px;

                    &.notes-cell {
                        text-align: center;

                        img {
                            max-height: 50px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 900px) {
        .notes-container {
            .notes-add {
                flex-basis: 30%;
            }

            .notes-all {
                flex-basis: 70%;
            }
        }
    }
}